body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* background-color: #1d1d24; */


  /* RESPONSIVE
  @media only screen and (max-width: 768px){
   
  }
  @media only screen and (max-width: 425px){
  
  } */



  /* h1 color: #3d1627; */


/* navbar links - #c6c9d8   hcolor: #f9004d;
*/
/* address div -background background: #f8f9fc; */

/* theme-main-div font color- background: #f81f01;
background: -webkit-linear-gradient(145deg,#f81f01,#ee076e);
background: -webkit-linear-gradient(305deg,#f81f01,#ee076e);
background: linear-gradient(145deg,#f81f01,#ee076e); */

/* /image box-shadow box-shadow: 0 25px 65px rgb(0 0 0 / 10%); */

/* navbar link transition: all .3s cubic-bezier(.645,.045,.355,1); */